:root{
    --cor-0: #000;
    --cor-1: #fff;
    --cor-2: #353232;
    --cor-3: #EFAD0A;
    --cor-4: #FFCB00;
    --cor-5: #61CE70;
}

.cor-0{
    color: var(--cor-0);
}

.cor-1{
    color: var(--cor-1);
}

.cor-2{
    color: var(--cor-2);
}

.cor-3{
    color: var(--cor-3);
}

.cor-4{
    color: var(--cor-4);
}

.cor-5{
    color: #61CE70;
}