.introducao-bg{
    height: 100vh;
    background: url(../../images/imagem-introducao.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: -117px;
}

.introducao-conteudo{
    margin-top: 120px;
}

.introducao-conteudo h2{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    border-bottom: 4px solid var(--cor-4);
    margin-bottom: 16px;
}

.introducao-conteudo h1{
    font-size: 2.4rem;
    font-weight: 600;
}

.introducao-conteudo p{
    font-size: 0.85rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.introducao-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 30px;
}

.introducao-lista li{
    padding: 16px;
    border-radius: 12px;
    height: 95px;
    background-color: #20201F;
}


.introducao-lista li h3{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.introducao-lista li p{
    max-width: 15ch;
    font-weight: 400;
    font-size: 0.85rem;
}