.servicos-bg{
    background: url(../../images/imagem-servicos.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.servicos-container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 100px 20px 80px 20px;
}

.servicos-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos-conteudo h2{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1rem;
    border-bottom: 2px solid var(--cor-4);
    margin-bottom: 16px;
}

.servicos-conteudo h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.servicos-conteudo p{
    text-align: center;
    margin-bottom: 40px;
}

.servicos-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.servicos-lista li{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.164);
    border-radius: 12px;
    width: 240px;
    border:  1px solid transparent;
    transition: .4s;
}

.servicos-lista li:hover{
    border:  1px solid var(--cor-4);
    transform: scale(1.05);
}

.servicos-lista li::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.servicos-lista li:hover::before {
    width: 20%;
  }


.servicos-lista img{
    width: 35px;
    margin-bottom: 10px;
}

.servicos-lista h1{
    text-align: initial;
    font-size: 1.3rem;
    margin-bottom: 20px;
}


.servicos-lista p{
    text-align: initial;
    font-weight: 400;
    font-size: 0.95rem;
    margin-bottom: 16px;
}

.servicos-lista .span-especial{
    font-weight: 700;
}

@media(max-width:950px){
    .servicos-lista{
        justify-content: center;
}

    .servicos-lista li{
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        width: 90%;
}
}