.sobre-nos-bg {
  background-color: var(--cor-1);
}

.sobre-nos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px 80px 20px;
}

.sobre-nos-conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.sobre-nos-conteudo h2 {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--cor-4);
  margin-bottom: 16px;
}

.sobre-nos-conteudo h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.sobre-nos-conteudo p {
  font-weight: 400;
  font-size: 0.95rem;
   margin-bottom: 16px;
}

 .btn:hover {
  color: var(--cor-0);
}

.iframe{
  border-radius: 12px;
  box-shadow: 15px 13px 0px -3px var(--cor-4);
}

@media (max-width:950px){
  .sobre-nos-conteudo{
  grid-template-columns: 1fr;
  gap: 40px;
}
}

@media (max-width:620px){
  .iframe{
    width: 100%;
}
}